html {
  font-size: 18px;
}

body {
  background-color: white;
  font-family: helvetica;
  margin: 0 auto;

  color: white;
}

header {
  display: flex;
  flex-direction: column;
  color: white;
  width: 100%;
}

.top-heading {
  background-color: black;
}

.top-container,
.head-box,
.nav-container,
.main-container,
.footer-box {
  width: 960px;
  margin: 0 auto;
}

.top-container {
  padding: 0.66rem 0 0.66rem 0.5rem;
}

.logo {
  height: 1.5rem;
  padding-right: 1rem;
}

.title {
  font-size: 1rem;
}

.motor-container {
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/moto.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 25rem;
  display: flex;
  justify-content: center;
}

.new-arrival {
  background-color: black;
  width: 20rem;
  font-weight: bold;
  padding: 2rem 3rem;
  top: 9rem;
  position: relative;
}

.new-arrival h4 {
  font-size: 1rem;
}

.new-arrival h1 {
  font-size: 2rem;
  margin: 0.25rem 0;
}

nav {
  background-color: firebrick;
}

.nav-container {
  display: flex;
  justify-content: space-between;
}

.nav-name {
  padding: 0.75rem 0;
}

.main-container {
  display: flex;
  flex-direction: column;
}
.products {
  display: flex;
  margin: 3rem 0;
  justify-content: space-between;
}

.pen,
.watch,
.glasses {
  width: 30%;
}

.image {
  border: 4px solid black;
  padding: 2em 0;
  height: 9em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.products img {
  max-width: 8rem;
}

.image-name {
  text-align: center;
  background-color: black;
  padding: 0.5rem 0;
  display: block;
}

.lower-container {
  display: flex;
  justify-content: space-between;
}

.location,
.hours {
  background-color: black;
  padding: 1rem 0 1rem 2rem;
}

p {
  color: black;
}

.location-box,
.hours-box {
  display: flex;
  flex-direction: column;
  width: 35%;
}

footer {
  background-color: black;
  margin-top: 4rem;
  width: 100%;
}

.footer-box {
  display: flex;
  height: 5rem;
  height: 5rem;
  flex-direction: column;
  justify-content: center;
}

.view-csr-link {
  display: block;
  color: #7eb8ff;
  text-align: center;
  margin-top: 0.5rem;
  padding-bottom: 1rem;
  text-decoration: none;
}

.view-csr-link:hover {
  text-decoration: underline;
}

.small-screen-size {
  display: none;
}
@media only screen and (max-width: 1024px) {
  .new-arrival h4 {
    font-size: 1.2rem;
  }
  .new-arrival h1 {
    font-size: 1.5rem;
  }
  .nav-container {
    display: none;
  }
  .small-screen-size {
    display: block;
    text-align: center;
  }
  .pen,
  .watch {
    width: 47%;
  }
  .glasses {
    display: none;
  }
  .location-box,
  .hours-box {
    width: 35%;
  }
}

@media only screen and (max-width: 470px) {
  .new-arrival h4 {
    font-size: 0.77rem;
  }
  .new-arrival h1 {
    font-size: 1rem;
  }
  .new-arrival {
    width: 100%;
    top: 10rem;
    padding: 1rem 2rem;
  }

  .pen,
  .location-box,
  .hours-box {
    width: 90%;
    margin: 0.5rem auto;
  }
  .watch {
    display: none;
  }
  .pen,
  .lower-container {
    flex-wrap: wrap;
  }
  .motor-container {
    height: 15rem;
  }
  .footer-box {
    width: 100%;
    text-align: center;
  }
}
